<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block title %}
    {% endblock %}
  </head>
  <body>
    <section id="nav-header">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                {% load static %}
                <img src="{% static 'img/white-camera.png' %}" width="30" height="30" class="d-inline-block align-top" alt="Camera">
                Home Security
            </a>
            <button class="btn btn-outline-danger my-2 my-sm-0">
                Login
                <a href="#"></a>
            </button>
        </nav>
    </section>

    {% block body %}{% endblock %}

    <section id="footer">
        <footer class="page-footer font-small">
            <nav class="navbar navbar-dark bg-dark">
                <div class="text-muted">© 2018 Copyright:
                    <a class="nav-item href="#"> brandonkirk.work</a>
                </div>
            </nav>
        </footer>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>