{% extends "website/base.html" %}

{% block title %}
    <title>Security Camera Login</title>
{% endblock %}

{% block body %}
    <h1>Security Camera Login</h1>
    <hr>

    <div class="container">
        <div class="form col-sm-12 col-md-6">
            <div class="form-group">
                {% csrf_token %}
                {{ form.name.errors }}
                <fieldset>
                    {{ form.username }}
                </fieldset>
            
                <fieldset>
                    {{ form.password }}
                </fieldset>
            
                <button class="btn btn-warning" type="submit" method='POST' value="Login" >Login</button>
            </div>
        </div>
    </div>

{% endblock %}